@charset "UTF-8";
/* line 22, ../sass/article.scss */
.archive .box:first-child {
  padding-top: 0;
}
/* line 24, ../sass/article.scss */
.archive .box:first-child:before {
  content: "";
  background: none;
  display: none;
}
/* line 29, ../sass/article.scss */
.archive .box:first-child .inner {
  padding-bottom: 40px;
}
/* line 34, ../sass/article.scss */
.archive .box .article-header {
  position: relative;
  margin-top: 160px;
}
@media (max-width: 767px) {
  /* line 34, ../sass/article.scss */
  .archive .box .article-header {
    margin-top: 100px;
  }
}
/* line 42, ../sass/article.scss */
.archive .box .article-header .inner {
  width: 80%;
  margin: auto;
  text-align: left;
  color: #000;
  position: relative;
  z-index: 15;
}
@media (max-width: 767px) {
  /* line 42, ../sass/article.scss */
  .archive .box .article-header .inner {
    width: 92%;
  }
}
/* line 52, ../sass/article.scss */
.archive .box .article-header .inner .data-tags {
  margin-top: 20px;
}
/* line 54, ../sass/article.scss */
.archive .box .article-header .inner .data-tags .date {
  font-weight: bold;
  margin-right: 10px;
  color: #868585;
}
/* line 62, ../sass/article.scss */
.archive .box .article-header .inner .data-tags .tags a {
  color: white;
  text-decoration: none;
  margin-left: 7px;
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  background-color: black;
  padding: 0 8px;
  border-radius: 11px;
}
/* line 75, ../sass/article.scss */
.archive .box .article-header .inner h2 {
  margin: 5px 0 35px 0;
  font-size: 30px;
  color: #000;
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 40px;
  text-align: justify;
}
/* line 84, ../sass/article.scss */
.archive .box .article-header .inner .photo {
  margin: 0 0 27px 0;
}
/* line 87, ../sass/article.scss */
.archive .box .article-header .inner hr {
  height: 4px;
  line-height: 1px;
  overflow: hidden;
  background: #000;
  border: none;
}
/* line 94, ../sass/article.scss */
.archive .box .article-header .inner .social {
  margin: 15px 0 0 0;
  position: relative;
}
/* line 97, ../sass/article.scss */
.archive .box .article-header .inner .social li {
  margin-right: 15px;
}
@media (max-width: 767px) {
  /* line 97, ../sass/article.scss */
  .archive .box .article-header .inner .social li {
    margin-right: 4px;
  }
}
/* line 103, ../sass/article.scss */
.archive .box .article-header .inner .social .site-url {
  position: absolute;
  right: 0;
  text-decoration: none;
  color: white;
  font-weight: 700;
  background-color: black;
  bottom: 0;
  padding: 2px;
  padding: 0 15px;
  font-size: 12px;
  border-radius: 5px;
  height: 22px;
  box-sizing: border-box;
  line-height: 22px;
  top: 0;
  margin: auto;
}
/* line 125, ../sass/article.scss */
.archive .box .article-header.boss-blog h1 {
  margin-bottom: 40px;
}
/* line 127, ../sass/article.scss */
.archive .box .article-header.boss-blog h1 a {
  background: url("../image/single/boss-blog-title.png") no-repeat center center;
  background-size: 492px 33px;
  width: 492px;
  height: 33px;
  text-indent: -999999px;
  display: block;
  padding-left: 10px;
}
/* line 136, ../sass/article.scss */
.archive .box .article-header.boss-blog h1:before, .archive .box .article-header.boss-blog h1:after {
  content: "";
  background: url("../image/single/header-line.png") repeat-x center center;
  background-size: 6px 7px;
  width: 100%;
  height: 7px;
  display: block;
  margin: 20px 0;
}
/* line 147, ../sass/article.scss */
.archive .box .article-header.boss-blog .shimoda {
  background: url("../image/single/shimoda.png") no-repeat center center;
  background-size: 222px 472px;
  width: 222px;
  height: 472px;
  text-indent: -999999px;
  display: block;
  position: absolute;
  top: -110px;
  right: -60px;
}
/* line 158, ../sass/article.scss */
.archive .box .article-header.boss-blog h2 {
  width: 500px;
}
/* line 165, ../sass/article.scss */
.archive .box .staff {
  width: 685px;
  margin: 20px auto 0px;
  line-height: 0;
  border: solid 4px black;
}
@media (max-width: 767px) {
  /* line 165, ../sass/article.scss */
  .archive .box .staff {
    width: 92%;
    margin: auto;
  }
}
/* line 174, ../sass/article.scss */
.archive .box .staff .photo {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 140px;
  margin: 15px;
}
/* line 179, ../sass/article.scss */
.archive .box .staff .photo img {
  width: 140px;
}
@media (max-width: 767px) {
  /* line 179, ../sass/article.scss */
  .archive .box .staff .photo img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 174, ../sass/article.scss */
  .archive .box .staff .photo {
    width: 20%;
    display: inline-block;
    margin: 3%;
  }
}
/* line 191, ../sass/article.scss */
.archive .box .staff .profile {
  line-height: 1.8;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 470px;
  margin: 15px 30px 15px 10px;
  text-align: justify;
  color: #000;
  position: relative;
}
@media (max-width: 767px) {
  /* line 191, ../sass/article.scss */
  .archive .box .staff .profile {
    width: 67%;
    display: inline-block;
    margin: 3% 3% 3% 0;
  }
}
/* line 205, ../sass/article.scss */
.archive .box .staff .profile .name {
  font-size: 26px;
  font-weight: 900;
  margin: 5px 0;
  color: black;
}
/* line 211, ../sass/article.scss */
.archive .box .staff .profile p {
  font-size: 14px;
}
/* line 214, ../sass/article.scss */
.archive .box .staff .profile .social {
  position: absolute;
  top: 5px;
  right: 0px;
}
/* line 218, ../sass/article.scss */
.archive .box .staff .profile .social a {
  display: block;
  font-family: 'fa';
  width: 40px;
  height: 40px;
  color: #FFF;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 229, ../sass/article.scss */
.archive .box .staff .profile .social a:hover {
  position: relative;
  top: 1px;
}
/* line 234, ../sass/article.scss */
.archive .box .staff .profile .social .facebook {
  background-color: #36559f;
  border-bottom: solid 1px #273b6f;
  border-right: solid 1px #273b6f;
  position: relative;
}
/* line 239, ../sass/article.scss */
.archive .box .staff .profile .social .facebook img {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* line 250, ../sass/article.scss */
.archive .box .staff .profile .social .twitter {
  background-color: #1fb7ff;
  border-bottom: solid 1px #1780b2;
  border-right: solid 1px #1780b2;
  position: relative;
}
/* line 255, ../sass/article.scss */
.archive .box .staff .profile .social .twitter img {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* line 269, ../sass/article.scss */
.archive .box .article-footer {
  margin-top: 70px;
  padding-bottom: 40px;
}
/* line 272, ../sass/article.scss */
.archive .box .article-footer .social-area {
  display: block;
  width: 370px;
  margin: auto;
  text-align: left;
  position: relative;
  z-index: 20;
}
/* line 281, ../sass/article.scss */
.archive .box .article-footer .social-area .social {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
/* line 286, ../sass/article.scss */
.archive .box .article-footer .social-area .social div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 5px 0 0;
  line-height: 0;
}
/* line 291, ../sass/article.scss */
.archive .box .article-footer .social-area .social div.facebook {
  width: 88px;
}
/* line 296, ../sass/article.scss */
.archive .box .article-footer .social-area .fb-page-widget {
  margin: 0px auto 0;
}
/* line 300, ../sass/article.scss */
.archive .box .article-footer .ad-area {
  display: none;
  width: 300px;
  vertical-align: top;
}
/* line 305, ../sass/article.scss */
.archive .box .article-footer .ad-area span {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  display: block;
  font-size: 20px;
}
/* line 312, ../sass/article.scss */
.archive .box .article-footer .ad-area a img {
  width: 300px;
  height: 250px;
  background: rgba(0, 0, 0, 0.1);
  display: block;
  border: none;
}

/* --------------------------------
        記事本文
-------------------------------- */
/* line 330, ../sass/article.scss */
.article-body {
  margin: 40px auto 60px;
  text-align: justify;
  width: 80%;
  max-width: 850px;
}
@media (max-width: 767px) {
  /* line 330, ../sass/article.scss */
  .article-body {
    width: 92%;
  }
}

/* line 341, ../sass/article.scss */
.mceContentBody,
.article-body {
  font-family: Helvetica-Light,'Helvetica Light',Avenir,'Segoe UI',Helvetica,'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro','游ゴシック','Yu Gothic','Meiryo',sans-serif;
  font-size: 16px;
  line-height: 180%;
  color: #000;
}
/* line 350, ../sass/article.scss */
.mceContentBody img,
.article-body img {
  max-width: 100%;
  height: auto;
}
/* line 354, ../sass/article.scss */
.mceContentBody p,
.article-body p {
  margin: 0;
  padding: 0;
}
/* line 360, ../sass/article.scss */
.mceContentBody .img-list img,
.article-body .img-list img {
  vertical-align: bottom;
}
/* line 365, ../sass/article.scss */
.mceContentBody .aligncenter,
.article-body .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 371, ../sass/article.scss */
.mceContentBody .alignleft,
.article-body .alignleft {
  float: left;
  margin: 0.5em 1em 0.5em 0;
}
/* line 376, ../sass/article.scss */
.mceContentBody .alignright,
.article-body .alignright {
  float: right;
  margin: 0.5em 0 0.5em 1em;
}
/* line 381, ../sass/article.scss */
.mceContentBody h1,
.article-body h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0;
  padding: 15px;
  color: #50534f;
  border-left: solid 6px #ea5a97;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #eeeeee));
  background-image: -moz-linear-gradient(#f4f4f4 0%, #eeeeee 100%);
  background-image: -webkit-linear-gradient(#f4f4f4 0%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 0%, #eeeeee 100%);
}
/* line 394, ../sass/article.scss */
.mceContentBody .fukidashi img,
.article-body .fukidashi img {
  margin: auto 10px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 399, ../sass/article.scss */
.mceContentBody .fukidashi p,
.article-body .fukidashi p {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 500px;
  margin: auto 10px;
}
@media screen and (max-width: 568px) {
  /* line 399, ../sass/article.scss */
  .mceContentBody .fukidashi p,
  .article-body .fukidashi p {
    width: 200px;
  }
}
/* line 409, ../sass/article.scss */
.mceContentBody .photo,
.article-body .photo {
  margin-bottom: 30px;
  line-height: 0;
}
/* line 413, ../sass/article.scss */
.mceContentBody .credit,
.article-body .credit {
  font-size: 12px;
  color: #333;
  line-height: 2;
  border-top: 1px solid #333;
  width: 100%;
  margin-top: 17px;
  text-align: center;
  padding-top: 17px;
}
/* line 422, ../sass/article.scss */
.mceContentBody .credit .site-url2,
.article-body .credit .site-url2 {
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-align: center;
  background-color: black;
  bottom: 0;
  padding: 2px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 5px;
  height: 28px;
  box-sizing: border-box;
  line-height: 28px;
  display: inline-block;
}
/* line 441, ../sass/article.scss */
.mceContentBody strong,
.article-body strong {
  font-weight: bold;
}
/* line 445, ../sass/article.scss */
.mceContentBody blockquote,
.article-body blockquote {
  padding: 15px;
  background-color: #f6f6f6;
  border: solid 2px #e1dfdf;
  position: relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 452, ../sass/article.scss */
.mceContentBody blockquote p,
.article-body blockquote p {
  margin: 10px auto;
  padding-left: 1em;
  text-indent: -1em;
}
/* line 479, ../sass/article.scss */
.mceContentBody .p2,
.article-body .p2 {
  height: 44px;
}
/* line 482, ../sass/article.scss */
.mceContentBody .p3,
.article-body .p3 {
  height: 66px;
}
/* line 485, ../sass/article.scss */
.mceContentBody .p4,
.article-body .p4 {
  height: 88px;
}
/* line 488, ../sass/article.scss */
.mceContentBody .p5,
.article-body .p5 {
  height: 110px;
}
/* line 491, ../sass/article.scss */
.mceContentBody .p6,
.article-body .p6 {
  height: 132px;
}
/* line 494, ../sass/article.scss */
.mceContentBody .p7,
.article-body .p7 {
  height: 154px;
}
/* line 497, ../sass/article.scss */
.mceContentBody .p8,
.article-body .p8 {
  height: 176px;
}
/* line 500, ../sass/article.scss */
.mceContentBody .p9,
.article-body .p9 {
  height: 198px;
}
/* line 503, ../sass/article.scss */
.mceContentBody .p10,
.article-body .p10 {
  height: 220px;
}
/* line 508, ../sass/article.scss */
.mceContentBody .wp-embedded-content,
.article-body .wp-embedded-content {
  width: 100%;
  height: 306px;
}

/* --------------------------------
        次の記事
-------------------------------- */
/* line 521, ../sass/article.scss */
.clearfix, .article-pager {
  *zoom: 1;
}
/* line 523, ../sass/article.scss */
.clearfix:after, .article-pager:after {
  content: "";
  display: table;
  clear: both;
}

/* line 530, ../sass/article.scss */
.article-pager {
  padding: 50px 0px 20px;
  margin: 0 auto 200px;
  text-align: left;
  width: 785px;
}
/* line 536, ../sass/article.scss */
.article-pager h2 {
  text-align: left;
  width: 80px;
  margin: 0 0 10px;
}
/* line 540, ../sass/article.scss */
.article-pager h2.next {
  margin-left: 272px;
}
/* line 544, ../sass/article.scss */
.article-pager div.next,
.article-pager div.prev {
  width: 350px;
  margin: 0 20px;
  vertical-align: top;
}
/* line 549, ../sass/article.scss */
.article-pager div.next a,
.article-pager div.prev a {
  padding: 8px 30px 8px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  background: #eeeeee;
  color: #E40062;
  -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  display: block;
}
/* line 562, ../sass/article.scss */
.article-pager div.next a:before,
.article-pager div.prev a:before {
  font-size: 14px;
  font-family: 'fa';
  position: absolute;
  top: 50%;
  margin-top: -10px;
  color: rgba(0, 0, 0, 0.4);
}
/* line 570, ../sass/article.scss */
.article-pager div.next a:hover,
.article-pager div.prev a:hover {
  background: rgba(0, 0, 0, 0.1);
}
/* line 573, ../sass/article.scss */
.article-pager div.next a .title,
.article-pager div.prev a .title {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 240px;
}
/* line 577, ../sass/article.scss */
.article-pager div.next a .image,
.article-pager div.prev a .image {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 45px;
}
/* line 580, ../sass/article.scss */
.article-pager div.next a .image img,
.article-pager div.prev a .image img {
  width: 40px;
}
/* line 586, ../sass/article.scss */
.article-pager div.prev {
  float: left;
}
/* line 588, ../sass/article.scss */
.article-pager div.prev a {
  text-align: left;
}
/* line 590, ../sass/article.scss */
.article-pager div.prev a:before {
  content: "\e603";
  left: 10px;
}
/* line 594, ../sass/article.scss */
.article-pager div.prev a img {
  float: left;
}
/* line 599, ../sass/article.scss */
.article-pager div.next {
  float: right;
}
/* line 601, ../sass/article.scss */
.article-pager div.next a {
  text-align: right;
}
/* line 603, ../sass/article.scss */
.article-pager div.next a:before {
  content: "\e604";
  right: 10px;
}
/* line 607, ../sass/article.scss */
.article-pager div.next a img {
  float: right;
}
